<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tbCategoria">
            <h2><span>Tb Categoria</span> {{tbCategoria.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Id Tb Categoria</span></dt>
                <dd>
                    <span>{{tbCategoria.idTbCategoria}}</span>
                </dd>
                <dt><span>Nm Categoria</span></dt>
                <dd>
                    <span>{{tbCategoria.nmCategoria}}</span>
                </dd>
                <dt><span>Id Categoria</span></dt>
                <dd>
                    <div *ngIf="tbCategoria.idCategoria">
                        <a [routerLink]="['/tb-produto', tbCategoria.idCategoria?.id, 'view']">{{tbCategoria.idCategoria?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tb-categoria', tbCategoria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
