<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tbCategoria">
            <h2><span>Categoria</span> {{tbCategoria.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome da Categoria</span></dt>
                <dd>
                    <span>{{tbCategoria.nmCategoria}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Voltar</span>
            </button>

            <button type="button"
                    [routerLink]="['/tb-categoria', tbCategoria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editar</span>
            </button>
        </div>
    </div>
</div>
