<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="myUserLabel">
                Adicionar ou Editar um Usuário
            </h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!user.id">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id" formControlName="id" readonly>
                </div>

                <div class="form-group">
                    <label class="form-control-label">Usuário</label>
                    <input type="text" class="form-control" name="login" formControlName="login">

                    <div
                        *ngIf="editForm.get('login').invalid && (editForm.get('login').dirty || editForm.get('login').touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('login').errors.required">
                            Campo obrigatório.
                        </small>

                        <small class="form-text text-danger" *ngIf="editForm.get('login').errors.maxlength">
                            Esse campo não pode ser maior que 50 caracteres.
                        </small>

                        <small class="form-text text-danger" *ngIf="editForm.get('login').errors.pattern">
                            Esse campo pode apenas contes letras, números e endereços de e-mail.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label">Primeiro Nome</label>
                    <input type="text" class="form-control" name="firstName" formControlName="firstName">

                    <div
                        *ngIf="editForm.get('firstName').invalid && (editForm.get('firstName').dirty || editForm.get('firstName').touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('firstName').errors.maxlength">
                            Esse campo não pode ser maior que 50 caracteres.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Último Nome</label>
                    <input type="text" class="form-control" name="lastName" formControlName="lastName">

                    <div
                        *ngIf="editForm.get('lastName').invalid && (editForm.get('lastName').dirty || editForm.get('lastName').touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('lastName').errors.maxlength">
                            Esse campo não pode ser maior que 50 caracteres.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label">Email</label>
                    <input type="email" class="form-control" name="email" formControlName="email">

                    <div
                        *ngIf="editForm.get('email').invalid && (editForm.get('email').dirty || editForm.get('email').touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('email').errors.required">
                            Campo obrigatório
                        </small>

                        <small class="form-text text-danger" *ngIf="editForm.get('email').errors.maxlength">
                            Esse campo não pode ser maior que 100 caracteres.
                        </small>

                        <small class="form-text text-danger" *ngIf="editForm.get('email').errors.minlength">
                            Esse campo não pode ser menor que 50 caracteres.
                        </small>

                        <small class="form-text text-danger" *ngIf="editForm.get('email').errors.email">
                            Email inválido.
                        </small>
                    </div>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="activated">
                        <input class="form-check-input" [disabled]="user.id === null" type="checkbox" id="activated"
                            name="activated" formControlName="activated">
                        <span>Ativo</span>
                    </label>
                </div>

                <div class="form-group">
                    <label>Perfil</label>
                    <select class="form-control" multiple name="authority" formControlName="authorities">
                        <option *ngFor="let authority of authorities" [value]="authority">{{authority}}</option>
                    </select>
                </div>
            </div>
            <div>  
                <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Salvar</span>
                </button>
                <button type="button" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
                </button>
            </div>
        </form>
    </div>
</div>