<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="account">Senha de [<strong>{{account.login}}</strong>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Senha alterada!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error" >
                <strong>Um erro ocorreu!</strong> A senha não pôde ser alterada.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                A senha e sua confirmação não são iguais !
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">

                <div class="form-group">
                    <label class="form-control-label" for="currentPassword">Senha Atual</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                           placeholder="Senha Atual"
                           formControlName="currentPassword">
                    <div *ngIf="passwordForm.get('currentPassword').invalid && (passwordForm.get('currentPassword').dirty || passwordForm.get('currentPassword').touched)" >
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('currentPassword').errors.required">
                            Senha obrigatória.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="newPassword">Nova Senha</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                           placeholder="Nova Senha"
                           formControlName="newPassword">
                    <div *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('newPassword').errors.required">
                           Senha obrigatória.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('newPassword').errors.minlength">
                            A senha deve ter mais que 5 caracteres.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('newPassword').errors.maxlength">
                           A senha deve ter menos que 50 caracteres.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmação de Nova Senha</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="Confirme a Nova Senha"
                           formControlName="confirmPassword">
                    <div *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('confirmPassword').errors.required">
                            A confirmação de senha é obrigatória.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('confirmPassword').errors.minlength">
                            A confirmação de senha deve ter mais que 5 caracteres.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('confirmPassword').errors.maxlength">
                           A confirmação de senha deve ter mais que 50 caracteres.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
</div>
