<div>
    <h2 id="page-heading">
        <span>Tb Produtos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tb-produto" [routerLink]="['/tb-produto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Tb Produto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tbProdutos?.length === 0">
        <span>No tbProdutos found</span>
    </div>
    <div class="table-responsive" *ngIf="tbProdutos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idTbProduto"><span>Id Tb Produto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nmProduto"><span>Nm Produto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="qtdEstoque"><span>Qtd Estoque</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="qtdMin"><span>Qtd Min</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ativo"><span>Ativo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tbProduto of tbProdutos ;trackBy: trackId">
                <td><a [routerLink]="['/tb-produto', tbProduto.id, 'view' ]">{{tbProduto.id}}</a></td>
                <td>{{tbProduto.idTbProduto}}</td>
                <td>{{tbProduto.nmProduto}}</td>
                <td>{{tbProduto.qtdEstoque}}</td>
                <td>{{tbProduto.qtdMin}}</td>
                <td>{{tbProduto.ativo}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tb-produto', tbProduto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tb-produto', tbProduto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tb-produto', { outlets: { popup: tbProduto.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="tbProdutos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
