<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tbProduto">
            <h2><span>Produto</span> {{tbProduto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome do Produto</span></dt>
                <dd>
                    <span>{{tbProduto.nmProduto}}</span>
                </dd>
                <dt><span>Quantidade no Estoque</span></dt>
                <dd>
                    <span>{{tbProduto.qtdEstoque}}</span>
                </dd>
                <dt><span>Quantidade Mínima</span></dt>
                <dd>
                    <span>{{tbProduto.qtdMin}}</span>
                </dd>
                <dt><span>Ativo</span></dt>
                <dd>
                    <span>{{tbProduto.ativo}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Voltar</span>
            </button>

            <button type="button"
                    [routerLink]="['/tb-produto', tbProduto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editar</span>
            </button>
        </div>
    </div>
</div>
