<div id="content" #content>
    <h2 id="page-heading">
        <span>Produtos</span>
        <div class="col-md-4">

                <div style="margin-left:-1em">
                    <input class="form-control" [(ngModel)]="nome" type="text" placeholder=" Procure aqui pelo produto">
                </div>
            </div>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tb-produto"
            [routerLink]="['/tb-produto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
                Adicionar novo Produto
            </span>
        </button>

       
            <button class="btn btn-primary float-right jh-create-entity create-tb-produto" (click)="downloadPDF()">
                <fa-icon [icon]="'download'"></fa-icon>
                <span>
                    Exportar como PDF
                </span>
            </button>
        
    </h2>


    

    <jhi-alert></jhi-alert>
    <br />
    <div class="alert alert-warning" *ngIf="tbProdutos?.length === 0">
        <span>Nenhum Produto encontrado</span>
    </div>
    <div class="table-responsive" *ngIf="tbProdutos?.length > 0">
        <table id = "contentToConvert" #contentToConvert class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span>ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="nmProduto"><span>Nome do Produto</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="qtdEstoque"><span>Quantidade no Estoque</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="qtdMin"><span>Quantidade Mínima</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="categoria.nmCategoria"><span>Categoria</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="situacao"><span>Situação</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tbProduto of tbProdutos ;trackBy: trackId">
                    <ng-container
                        *ngIf="(tbProduto.nmProduto | lowercase).startsWith(nome | lowercase) || nome.length === 0">
                        <td><a [routerLink]="['/tb-produto', tbProduto.id, 'view' ]">{{tbProduto.id}}</a></td>
                        <td>{{tbProduto.nmProduto}}</td>
                        <td>{{tbProduto.qtdEstoque}}</td>
                        <td>{{tbProduto.qtdMin}}</td>
                        <td>{{tbProduto.categoria.nmCategoria}}</td>
                        <ng-container *ngIf="maiorIgual(tbProduto.situacao,1) && 
                                    menor(tbProduto.situacao,1.2)">
                            <td> <span class="badge badge-warning"> Quase em falta </span> </td>
                        </ng-container>
                        <ng-container *ngIf="menor(tbProduto.situacao,1)">
                            <td> <span class="badge badge-danger"> Em falta</span> </td>
                        </ng-container>
                        <ng-container *ngIf="maiorIgual(tbProduto.situacao,1.2)">
                            <td> <span class="badge badge-success"> Em estoque</span> </td>
                        </ng-container>


                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit" [routerLink]="['/tb-produto', tbProduto.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'edit'"></fa-icon>
                                    <span class="d-none d-md-inline">Alterar Estoque</span>
                                </button>
                                <button type="submit"
                                    [routerLink]="['/tb-produto', { outlets: { popup: tbProduto.id + '/delete'} }]"
                                    replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline">Excluir Produto</span>
                                </button>
                            </div>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="tbProdutos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>