<div class="row justify-content-center">
    <div class="col-4">
        <div *ngIf="tbProduto">
            <h2><span>Alterar Estoque </span></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome do Produto</span></dt>
                <dd>
                    <span>{{tbProduto.nmProduto}}</span>
                </dd>
                <dt><span>Categoria</span></dt>
                <dd>
                    <span>{{tbProduto.categoria.nmCategoria}}</span>
                </dd>
                <dt><span>Unidade de medida</span></dt>
                <dd>
                    <span>{{tbProduto.unidadeMedida.nmUnidadeMedida}}</span>
                </dd>
                <dt><span>Quantidade no Estoque</span></dt>
                <dd>
                    <span>{{tbProduto.qtdEstoque}}</span>
                </dd>
                <dt><span>Quantidade Mínima</span></dt>
                <dd>
                    <span>{{tbProduto.qtdMin}}</span>
                </dd>
            </dl>
        </div>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div class="form-group">
                <label class="form-control-label" for="tipo">Tipo</label>
                <div style="margin-left: 1em;">
                    <div class="row">
                        <label for="tipo" class="radio-inline">
                            <input type="radio" value="1" formControlName="tipo" checked required /> Entrada &nbsp;
                        </label>
                        <label for="tipo" class="radio-inline">
                            <input type="radio" value="0" formControlName="tipo" required /> Saida
                        </label>
                    </div>
                </div>
                <small style="color: red" *ngIf="naoPreenchido(editForm.get('tipo'))">Marque uma
                    das opções</small>
            </div>

            <div class="form-group">
                <label class="form-control-label" for="qtdAlterar">Quantidade</label>
                <input type="number" class="form-control" name="qtdAlterar" id="qtdAlterar" formControlName="qtdAlterar"
                    required />
                <small style="color: red" *ngIf="invalidaValNeg(editForm.get('qtdAlterar'))">Valor tem que ser
                    positivo</small>
                <small style="color: red" *ngIf="invalidaValMov(editForm.get('qtdAlterar'))">Valor de saida é maior
                    que o estoque</small>
                <small style="color: red" *ngIf="naoPreenchido(editForm.get('qtdAlterar'))">Campo
                    obrigatório</small>
            </div>

            <div>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-info">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Salvar</span>
                </button>

                <button type="button" id="cancel-save" class="btn btn-primary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
                </button>
            </div>
        </form>
    </div>
</div>