<div>
    <h2 id="page-heading">
        <span>Movimentações</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tb-movimentacao"
            [routerLink]="['/tb-movimentacao/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
                Adicionar nova Movimentação
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="alert alert-warning" *ngIf="tbMovimentacaos?.length === 0">
        <span>Nenhuma movimentação encontrada</span>
    </div>
    <div class="table-responsive" *ngIf="tbMovimentacaos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span>ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="produto.nmProduto"><span>Produto</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="quantidade"><span>Quantidade</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="data"><span>Data</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="entrada"><span>Entrada</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tbMovimentacao of tbMovimentacaos ;trackBy: trackId">
                    <td><a [routerLink]="['/tb-movimentacao', tbMovimentacao.id, 'view' ]">{{tbMovimentacao.id}}</a>
                    </td>
                    <td>{{tbMovimentacao.produto.nmProduto}}</td>
                    <td>{{tbMovimentacao.quantidade}}</td>
                    <td>{{tbMovimentacao.data | date:'dd/MM/yyyy'}}</td>
                    <td>{{tbMovimentacao.entrada}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>