<div>
    <h2 id="page-heading">
        <span>Movimentações</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="row justify-content-center">
        <div class="col-4">
            <form name="editForm" role="form" (ngSubmit)="downloadPDF()" [formGroup]="editForm">
                <div class="form-group">
                    <label class="form-control-label" for="dataInicio">Data inicial</label>
                    <input type="date" class="form-control" name="dataInicio" id="dataInicio"
                        formControlName="dataInicio" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="dataFim">Data final</label>
                    <input type="date" class="form-control" name="dataFim" id="dataFim" formControlName="dataFim" />
                </div>
                <div class="row justify-content-center">
                    <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary jh-create-entity ">
                        <fa-icon [icon]="'download'"></fa-icon>
                        <span>
                            Exportar como PDF
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>