<div>
    <h2 id="page-heading">
        <span>Movimentações</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tbMovimentacaos?.length === 0">
        <span>Nenhuma movimentação encontrada</span>
    </div>
    <div class="table-responsive" *ngIf="tbMovimentacaos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Produto</span></th>
            <th><span>Quantidade</span></th>
            <th><span>Data</span></th>
            <th><span>Entrada</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tbMovimentacao of tbMovimentacaos ;trackBy: trackId">
                <td><a [routerLink]="['/tb-movimentacao', tbMovimentacao.id, 'view' ]">{{tbMovimentacao.id}}</a></td>
                <td>
                    <span *ngFor="let tbProduto of tbMovimentacao.tbProdutos; let last = last">
                            <a class="form-control-static" [routerLink]="['/tb-produto', tbProduto?.id, 'view' ]">{{tbProduto.idTbProduto}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>{{tbMovimentacao.quantidade}}</td>
                <td>{{tbMovimentacao.data | date:'mediumDate'}}</td>
                <td>{{tbMovimentacao.entrada}}</td>
                <!-- <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tb-movimentacao', tbMovimentacao.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tb-movimentacao', tbMovimentacao.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tb-movimentacao', { outlets: { popup: tbMovimentacao.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td> -->
            </tr>
            </tbody>
        </table>
    </div>
</div>
