<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tbUnidadeMedida">
            <h2><span>Tb Unidade Medida</span> {{tbUnidadeMedida.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nm Unidade Medida</span></dt>
                <dd>
                    <span>{{tbUnidadeMedida.nmUnidadeMedida}}</span>
                </dd>
                <dt><span>Id Unidade Medida</span></dt>
                <dd>
                    <div *ngIf="tbUnidadeMedida.id">
                        <a [routerLink]="['/tb-produto', tbUnidadeMedida.id, 'view']">{{tbUnidadeMedida.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tb-unidade-medida', tbUnidadeMedida.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
