<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">Troca de senha</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Olá
        </p>
        <p th:text="#{email.reset.text1}">
            Você solicitou uma troca de senha, clique nesse link para poder trocar sua senha:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}"
            th:text="${url}">Login link</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Atenciosamente</span>
            <br/>
            <em th:text="#{email.signature}">Lar Divina Providência.</em>
        </p>
    </body>
</html>
