<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Nova Senha</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>Esse email não está registrado</strong> Verique se digitou certo e tente novamente
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p>Insira o email para pedir a redefinição da senha</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p>Cheque seu email para tentar realizar a troca de senha</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Seu email"
                           formControlName="email">
                    <div *ngIf="resetRequestForm.get('email').invalid && (resetRequestForm.get('email').dirty || resetRequestForm.get('email').touched)">
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.required">
                            Campo obrigatório
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.email">
                            Email invalido
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.minlength">
                            Seu email deve ter pelo menos 5 caracteres
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.maxlength">
                            Seu email está muito longo
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary">Enviar pedido</button>
            </form>
        </div>
    </div>
</div>
